docs/DirectConnect/Entitlements (1).xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Raj Sehgal (INFORMATION HANDLING SERVICES INC) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="region">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="products">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="product" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="product">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="entitlements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="products"/>
				<xs:element ref="datatypes"/>
			</xs:sequence>
			<xs:attribute name="licenseType" type="xs:string" use="optional"/>
			<xs:attribute name="groupName" type="xs:string" use="optional"/>
			<xs:attribute name="expirationDate" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="datatypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="datatype" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="datatype">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="region" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="yearsBack" type="xs:int" use="optional" />
		</xs:complexType>
	</xs:element>
</xs:schema>
