doc/DirectConnect/Data Export Formats 2018 v9/Data Export Formats 2018 v9/Data Export Formats 2018 v9/Data Export Formats 2018 v9/EnerdeqML Format/EnerdeqML_v1.19_Production.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xsd:include schemaLocation="EnerdeqML_v1.19_Types.xsd"/>
	<xsd:include schemaLocation="EnerdeqML_v1.19_Well.xsd"/>
	<xsd:element name="PRODUCTION_SET">
		<xsd:annotation>
			<xsd:documentation>A Collection of Producing Entities</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="METADATA" type="ihse_set_metadata"/>
				<xsd:element ref="PRODUCING_ENTITY" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PRODUCING_ENTITY">
		<xsd:annotation>
			<xsd:documentation>Unique identification assigned to the producing entity.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="METADATA" type="ihse_entity_metadata"/>
				<xsd:group ref="HEADER_PRODUCTION"/>
				<xsd:element name="OPERATOR" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SOURCE" type="xsd:string"/>
							<xsd:element name="DATA_PROVIDER" type="ihse_name_code"/>
							<xsd:element name="DESIGNATION" type="ihse_name_code" minOccurs="0"/>
							<xsd:element name="PERCENTAGE" type="xsd:double" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="LOCATION" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="WELLBORE" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:group ref="WELLBORE_DATA"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="PRODUCTION" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="INJECTION" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="DISPOSITION" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="CONTENT" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DATA_PROVIDER" type="ihse_name_code" minOccurs="0" maxOccurs="unbounded"/>
							<xsd:element name="OPERATOR" type="xsd:long" minOccurs="0"/>
							<xsd:element name="LOCATION" type="xsd:long" minOccurs="0"/>
							<xsd:element name="WELLBORE" type="xsd:long" minOccurs="0"/>
							<xsd:element name="PRODUCTION" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="YEAR" type="xsd:long" minOccurs="0"/>
										<xsd:element name="MONTH" type="xsd:long" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="INJECTION" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="YEAR" type="xsd:long" minOccurs="0"/>
										<xsd:element name="MONTH" type="xsd:long" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- -->
				<!-- -->
				<xsd:element name="USER_DATA" type="ihse_generic" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DISPOSITION">
		<xsd:annotation>
			<xsd:documentation>Disposition history for a producing entity</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="YEAR" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="MONTH" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="NUMBER" type="xsd:int" minOccurs="0"/>
										<xsd:element name="PROD_ZONE" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="CODE" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="PURCHASER" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="CODE" type="xsd:int" minOccurs="0"/>
													<xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FLUID" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="CODE" type="xsd:string" minOccurs="0"/>
													<xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="VOLUME" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="VALUE" type="xsd:double" minOccurs="0"/>
													<xsd:element name="UOM" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="TYPE" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
									<xsd:attribute name="NUMBER" type="xsd:string" use="required"/>
									<xsd:attribute name="DMY" type="xsd:string" use="optional"/>
									<xsd:attribute name="LAST_DAY" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="NUMBER" type="xsd:long" use="required"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PRODUCTION">
		<xsd:annotation>
			<xsd:documentation>Production volumes for a producing entity</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="HEADER">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SOURCE" type="xsd:string"/>
							<xsd:element name="DATA_PROVIDER" type="ihse_name_code"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ABSTRACT" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Statistical summary of production over various time periods.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DATES" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Date range over which production is summarized.
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="START" type="ihse_date" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Period starting date.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="END" type="ihse_date" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Period ending date.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="PERIOD" type="ihse_period" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Length of time over which production is summarized.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="TOTAL_LIQUID" type="ihse_date" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Max Production Volume date.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="TOTAL_GAS" type="ihse_date" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Max Production Volume date.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="WATER" type="ihse_date" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Max Production Volume date.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="OIL_EQUIVALENCE" type="ihse_liquid" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The total hydrocarbon production figure expressed in oil
										equivalent.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TOTAL_LIQUID" type="ihse_liquid" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Total amount of oil and condensate produced.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="OIL" type="ihse_liquid" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The amount of oil produced.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CONDENSATE" type="ihse_liquid" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The amount of condensate produced.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TOTAL_GAS" type="ihse_gas" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Total gas and casinghead gas produced.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="GAS" type="ihse_gas" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The amount of gas produced.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CASINGHEAD_GAS" type="ihse_gas" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The amount of casinghead gas produced.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="WATER" type="ihse_liquid" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The amount of water produced.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CARBON_DIOXIDE" type="ihse_gas" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The amount of carbon dioxide produced.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="OTHER" type="ihse_fluid" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>fluids produced beyond those which are accounted for in the set
										fluid type slots.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RATIOS" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GAS_OIL" type="ihse_decimal" minOccurs="0"/>
										<xsd:element name="WATER_OIL" type="ihse_decimal" minOccurs="0"/>
										<xsd:element name="WATER_GAS" type="ihse_decimal" minOccurs="0"/>
										<xsd:element name="WATER_CONDENSATE" type="ihse_decimal" minOccurs="0"/>
										<xsd:element name="CONDENSATE_GAS" type="ihse_decimal" minOccurs="0"/>
										<xsd:element name="WATER_CUT" type="xsd:double" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="WELLS" type="xsd:long" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Number of wells from which fluids were produced.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PRESSURE" type="ihse_pressure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Reservoir pressure during production.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ATTACHMENT" type="ihse_attachment" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
						<xsd:attribute name="TYPE_NAME" type="xsd:string" use="optional"/>
						<xsd:attribute name="TYPE_CODE" type="xsd:string" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="YEAR" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Production volumes for a single year.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PRIOR_CUMULATIVE" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Total production up to the beginning of the year.
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="OIL_EQUIVALENCE" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The total hydrocarbon production figure expressed in
													oil equivalent.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="TOTAL_LIQUID" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Total amount of oil and condensate produced.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="OIL" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The prior cumulative production of oil.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CONDENSATE" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The prior cumulative production of condensate.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="TOTAL_GAS" type="ihse_gas" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Total gas and casinghead gas produced.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="GAS" type="ihse_gas" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The prior cumulative production of gas.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CASINGHEAD_GAS" type="ihse_gas" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The prior cumulative production of casinghead gas.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="WATER" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The prior cumulative production of water.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CARBON_DIOXIDE" type="ihse_gas" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The prior cumulative production of carbon dioxide.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="RATIOS" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="GAS_OIL" type="ihse_decimal" minOccurs="0"/>
													<xsd:element name="WATER_OIL" type="ihse_decimal" minOccurs="0"/>
													<xsd:element name="WATER_GAS" type="ihse_decimal" minOccurs="0"/>
													<xsd:element name="WATER_CONDENSATE" type="ihse_decimal" minOccurs="0"/>
													<xsd:element name="CONDENSATE_GAS" type="ihse_decimal" minOccurs="0"/>
													<xsd:element name="WATER_CUT" type="xsd:double" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="ATTACHMENT" type="ihse_attachment" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="REPORTED" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Production for the year.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="OIL_EQUIVALENCE" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The total hydrocarbon production figure expressed in
													oil equivalent.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="TOTAL_LIQUID" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Total amount of oil and condensate produced.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="OIL" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of oil reported for the year.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CONDENSATE" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of condensate reported for the year.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="TOTAL_GAS" type="ihse_gas" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Total gas and casinghead gas produced.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="GAS" type="ihse_gas" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of gas reported for the year.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CASINGHEAD_GAS" type="ihse_gas" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of casinghead gas reported for the year.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="WATER" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of water reported for the year.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CARBON_DIOXIDE" type="ihse_gas" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of carbon dioxide reported for the year.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="RATIOS" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="GAS_OIL" type="ihse_decimal" minOccurs="0"/>
													<xsd:element name="WATER_OIL" type="ihse_decimal" minOccurs="0"/>
													<xsd:element name="WATER_GAS" type="ihse_decimal" minOccurs="0"/>
													<xsd:element name="WATER_CONDENSATE" type="ihse_decimal" minOccurs="0"/>
													<xsd:element name="CONDENSATE_GAS" type="ihse_decimal" minOccurs="0"/>
													<xsd:element name="WATER_CUT" type="xsd:double" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="WELLS" type="ihse_production_wells" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The number of wells active for the year.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="PERIOD" type="ihse_period" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Length of time during year over which production
													occurred.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ATTACHMENT" type="ihse_attachment" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MONTH" minOccurs="0" maxOccurs="12">
								<xsd:annotation>
									<xsd:documentation>Production during a single month.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="OIL_EQUIVALENCE" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The total hydrocarbon production figure expressed in
													oil equivalent.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="TOTAL_LIQUID" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Total amount of oil and condensate produced.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="OIL" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of oil reported for the month
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CONDENSATE" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of condensate reported for the month
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="TOTAL_GAS" type="ihse_gas" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Total gas and casinghead gas produced.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="GAS" type="ihse_gas" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of gas reported for the month
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CASINGHEAD_GAS" type="ihse_gas" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of casinghead gas reported for the month
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="WATER" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of water reported for the month
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CARBON_DIOXIDE" type="ihse_gas" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of carbon dioxide reported for the month
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="RATIOS" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="GAS_OIL" type="ihse_decimal" minOccurs="0"/>
													<xsd:element name="WATER_OIL" type="ihse_decimal" minOccurs="0"/>
													<xsd:element name="WATER_GAS" type="ihse_decimal" minOccurs="0"/>
													<xsd:element name="WATER_CONDENSATE" type="ihse_decimal" minOccurs="0"/>
													<xsd:element name="CONDENSATE_GAS" type="ihse_decimal" minOccurs="0"/>
													<xsd:element name="WATER_CUT" type="xsd:double" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="WELLS" type="ihse_production_wells" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The number of wells active for the month
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="PRESSURE" type="ihse_pressure" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Reservoir pressure during the month.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="PERIOD" type="ihse_period" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Period of time during the month that the entity was
													producing.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="DAY" minOccurs="0" maxOccurs="31">
											<xsd:annotation>
												<xsd:documentation>Production information for a single day.
												</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="OIL_EQUIVALENCE" type="ihse_liquid" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>The total hydrocarbon production figure
																expressed in oil equivalent.
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="OIL" type="ihse_liquid" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>The volume of oil reported for the day
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="CONDENSATE" type="ihse_liquid" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>The volume of condensate reported for the
																day
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="GAS" type="ihse_gas" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>The volume of gas reported for the day
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="CASINGHEAD_GAS" type="ihse_gas" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>The volume of casinghead gas reported for
																the day
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="WATER" type="ihse_liquid" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>The volume of water reported for the
																day
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="CARBON_DIOXIDE" type="ihse_gas" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>The volume of carbon dioxide reported for
																the day
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="WELLS" type="ihse_production_wells" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>The number of wells active for the day
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="PRESSURE" minOccurs="0" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation>Reservoir pressure during the day.
															</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:complexContent>
																<xsd:extension base="ihse_pressure"/>
															</xsd:complexContent>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="PERIOD" type="ihse_period" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Period of time during the day that the
																entity was producing.
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="ATTACHMENT" type="ihse_attachment" minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="ATTACHMENT" type="ihse_attachment" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
									<xsd:attribute name="NUMBER" type="xsd:long" use="required"/>
									<xsd:attribute name="LAST_DAY" type="xsd:long" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="NUMBER" type="xsd:long" use="required"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="INJECTION">
		<xsd:annotation>
			<xsd:documentation>Injection volumes for a producing entity</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="HEADER">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SOURCE" type="xsd:string"/>
							<xsd:element name="DATA_PROVIDER" type="ihse_name_code"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ABSTRACT" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Statistical summary of injection over various time periods.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DATES" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Date range over which injection is summarized.
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="START" type="ihse_date" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Period starting date.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="END" type="ihse_date" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Period ending date.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="PERIOD" type="ihse_period" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Length of time over which injection is summarized.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LIQUID" type="ihse_liquid" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The amount of liquid injected.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="GAS" type="ihse_gas" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The amount of gas injected.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="WATER" type="ihse_liquid" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The amount of water injected.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="OTHER" type="ihse_fluid" minOccurs="0" maxOccurs="unbounded"/>
							<xsd:element name="WELLS" type="xsd:long" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Number of wells injected.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PRESSURE" type="ihse_pressure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Reservoir pressure during injection.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ATTACHMENT" type="ihse_attachment" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
						<xsd:attribute name="TYPE_NAME" type="xsd:string" use="optional"/>
						<xsd:attribute name="TYPE_CODE" type="xsd:string" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="YEAR" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Injection volumes for a single year.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PRIOR_CUMULATIVE" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Total injection volume up to the beginning o the year.
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LIQUID" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The prior cumulative injection volume of liquid.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="GAS" type="ihse_gas" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The prior cumulative injection volume of gas.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="WATER" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The prior cumulative injection volume of water.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="OTHER" type="ihse_fluid" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="ATTACHMENT" type="ihse_attachment" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="REPORTED" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Injection volume for the year.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LIQUID" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of liquid reported for the year.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="GAS" type="ihse_gas" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of gas reported for the year.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="WATER" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of water reported for the year.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="OTHER" type="ihse_fluid" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="PERIOD" type="ihse_period" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Length of time during year over which injection
													occurred.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ATTACHMENT" type="ihse_attachment" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MONTH" minOccurs="0" maxOccurs="12">
								<xsd:annotation>
									<xsd:documentation>Injection volume during a single month.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LIQUID" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of liquid reported for the month
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="GAS" type="ihse_gas" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of gas reported for the month
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="WATER" type="ihse_liquid" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The volume of water reported for the month
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="OTHER" type="ihse_fluid" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="WELLS" type="xsd:long" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The number of wells injecting during the month.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="PRESSURE" type="ihse_pressure" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Reservoir pressure during the month.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="PERIOD" type="ihse_period" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Period of time during the month that the entity was
													being injected.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ATTACHMENT" type="ihse_attachment" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
									<xsd:attribute name="NUMBER" type="xsd:long" use="required"/>
									<xsd:attribute name="LAST_DAY" type="xsd:long" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="NUMBER" type="xsd:long" use="required"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:group name="PRODUCTION_TESTS">
		<xsd:sequence>
			<xsd:element name="TEST" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DATE" type="ihse_date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Date the production test was conducted.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="UWI" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The unique identifier assigned to the well on which the test was
									run.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="WELL_NUMBER" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Number assigned by the operator to the well on which the test was
									run.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TYPE" type="ihse_name_code" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The type of test used to evaluate the well.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="METHOD" type="ihse_name_code" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The method of production (e.g., swabbing, flowing, pumping, gas lift,
									etc.).
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PERFORATIONS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Tested depth interval.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="UPPERMOST" type="ihse_depth" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Measured depth to the top of the tested interval.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LOWERMOST" type="ihse_depth" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Measured depth to the bottom of the tested interval.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="FLOWS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Volumes of fluids recovered during test.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="OIL" type="ihse_liquid" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Amount of oil that was recovered during the test.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CONDENSATE" type="ihse_liquid" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Amount of condensate that was recovered during the
												test.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="GAS" type="ihse_gas" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Amount of gas that was recovered during the test.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CASINGHEAD_GAS" type="ihse_gas" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Amount of casinghead gas that was recovered during the
												test.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="WATER" type="ihse_liquid" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Amount of water that was recovered during the test.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="WATER_CUT_PERCENT" type="xsd:double" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Percentage volume of water in the total volume of liquid
												that was recovered during the test.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CALCULATED_ABSOLUTE_OPEN" type="ihse_gas" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Calculated wellhead open flow during the test.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="CUMULATIVE_GAS" type="ihse_fluid" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The total amount of gas produced from the entity up to the time the
									test was run.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="RATIOS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Ratios of the fluids recovered during the test.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:attribute name="GAS_OIL" type="xsd:double" use="optional">
									<xsd:annotation>
										<xsd:documentation>Value for the gas oil ratio (the amount of natural gas
											divided by the
											amount of crude oil).
										</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="CONDENSATE" type="xsd:double" use="optional">
									<xsd:annotation>
										<xsd:documentation>Value for the condensate ratio (the volume of condensate
											liquids
											divided by the residue gas volume).
										</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="BASIC_SEDIMENT_WATER" type="xsd:double" use="optional">
									<xsd:annotation>
										<xsd:documentation>Value for the percentage of Basic Sediment and Water in the
											oil (the
											solid impurities and salt water that are mixed with the crude oil).
										</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="CHOKE_SIZE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Code describing the choke size (e.g., 1 1/4 inches).
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GRAVITIES" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Gravities of fluids recovered during test.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="OIL" type="ihse_gravity" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Gravity of oil recovered during test.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="GAS" type="ihse_gravity" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Gravity of gas recovered during test.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CONDENSATE" type="ihse_gravity" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Gravity of condensate recovered during test.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="FACTORS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Engineering factors relating to the test.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:attribute name="Z" type="xsd:double" use="optional">
									<xsd:annotation>
										<xsd:documentation>Fluid compressibility.</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="PRESSURES" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Pressures measured during test.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="FLOWING_TUBE" type="ihse_pressure" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Tubing pressure measured under flowing conditions.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="FINAL_SHUT_IN" type="ihse_pressure" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Shutin pressure measured during the test.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CASING" type="ihse_pressure" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Casing pressure measured under flowing conditions.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="BOTTOM_HOLE" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Measurements of the conditions at the bottom of the wellbore.
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PRESSURE" type="ihse_pressure" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Bottom hole flowing pressure.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PRESSURE_OVER_Z" type="ihse_decimal" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Bottom hole pressure measured over the compressibility
												(Z) factor.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="METHOD" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Remarks pertaining to production test.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ATTACHMENT" type="ihse_attachment" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="SOURCE" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:documentation>The individual, company, state or government agency designated
								as the source of information for this record.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="NUMBER" type="xsd:long" use="required">
						<xsd:annotation>
							<xsd:documentation>Unique identification number for each test.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="UNIT_WELL_NUMBER" type="xsd:long" use="required">
						<xsd:annotation>
							<xsd:documentation>Sequence number uniquely identifying a well within a producing entity.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="ZONES">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PRODZONE">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ZONE" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CODE" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="DATES" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GAS_START" type="ihse_date" minOccurs="0"/>
										<xsd:element name="INJECTION_START" type="ihse_date" minOccurs="0"/>
										<xsd:element name="INJECTION_STOP" type="ihse_date" minOccurs="0"/>
										<xsd:element name="OIL_START" type="ihse_date" minOccurs="0"/>
										<xsd:element name="PRODUCTION_STOP" type="ihse_date" minOccurs="0"/>
										<xsd:element name="WATER_START" type="ihse_date" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="DEPTHS" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="TOP" type="ihse_depth" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Measured depth to the top of the shallowest producing
													interval in the well.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="BASE" type="ihse_depth" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Measured depth to the top of the deepest producing
													interval in the well.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="FIELD" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CODE" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="POOL" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CODE" type="xsd:string" minOccurs="0"/>
										<xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:group name="HEADER_PRODUCTION">
		<xsd:sequence>
			<xsd:element name="HEADER" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SOURCE" type="xsd:string"/>
						<xsd:element name="DATA_PROVIDER" type="ihse_name_code"/>
						<xsd:element name="TYPE" type="ihse_name_code" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The type of producing entity (e.g., field, well, unit, reservoir,
									etc.).
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DESIGNATION" type="ihse_name_code" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Name of production reporting entity.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ZONE" type="ihse_name_code" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The production zone.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="OPERATORS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Organizations that operated producing entity.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CURRENT" type="ihse_name_code" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>The current operator of the producing entity.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CURRENT_CITY" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>City location of the current operator of the producing
												entity.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="GEOPOLITICAL" type="ihse_geopolitical" minOccurs="0"/>
						<xsd:element name="FIELD" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Legal or common given name of the field, assigned by state and
									federal agencies in areas where production comes from one or more pools within a
									single geological feature.
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="ihse_name_code">
										<xsd:attribute name="ALIAS" type="xsd:string" use="optional">
											<xsd:annotation>
												<xsd:documentation>Code identifying any other name the field is known
													by.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="POOLS" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ONSHORE" type="ihse_name_code" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Name of the reservoir.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="OFFSHORE" type="ihse_name_code" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Name of the reservoir.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="UNIT" type="ihse_name_code" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Unitized collection of producing entities that this entity belongs
									to.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="RIGHTS" type="ihse_name_code" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The full name of the entity and number assigned to the lease by the
									regulatory agency with the
									jurisdiction/rights over mineral activity on the lease.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="AREA" type="ihse_area" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Amount of property included in the lease.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GEOLOGIC_PROVINCE" type="ihse_name_code" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The distinct geographical area with similar geologic features for the
									entity.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="BASIN" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Basins</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="MAIN" type="ihse_name_code" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Main basin</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SUB_BASIN" type="ihse_name_code" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Sub-basin</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="PRODUCTS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Products derived from the producing entity.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PRIMARY" type="ihse_name_code" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>The principle product derived from producing entity.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="STATUSES" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Indicators of producing entity's status.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CURRENT" type="ihse_name_code" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>The current status of the producing entity.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PREVIOUS" type="ihse_name_code" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>The previous reported status of the producing entity.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ORIGINAL" type="ihse_name_code" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>The original reported status of the producing entity.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PLOT_SYMBOL" type="ihse_name_code" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>The original reported status of the producing entity.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="COMINGLED_FACILITY" type="ihse_name_code" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The production gathering point/facility for this and one or more
									other wells/entities.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SITUATION" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Indicator of whether the production entity resides in state waters,
									federal waters, bays, etc.
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="DESIGNATION" type="ihse_name_code" minOccurs="0"/>
									<xsd:element name="OFFSHORE" type="ihse_name_code" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="WELLS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Number of wells of various types within the producing entity
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ACTIVE_PRODUCING" type="xsd:long" minOccurs="0"/>
									<xsd:element name="ACTIVE_INJECTION" type="xsd:long" minOccurs="0"/>
									<xsd:element name="ACTIVE_TOTAL" type="xsd:long" minOccurs="0"/>
									<xsd:element name="TOTAL" type="xsd:long" minOccurs="0"/>
								</xsd:sequence>
								<xsd:attribute name="ACTIVE_PRODUCING" type="xsd:long" use="optional">
									<xsd:annotation>
										<xsd:documentation>Number of oil and gas wells on the entity.
										</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="ACTIVE_INJECTION" type="xsd:long" use="optional">
									<xsd:annotation>
										<xsd:documentation>Number of injection wells on the entity.</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="ACTIVE_TOTAL" type="xsd:long" use="optional">
									<xsd:annotation>
										<xsd:documentation>Total number of producing and injection wells on the
											entity.
										</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="TOTAL" type="xsd:long" use="optional"/>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="DATES" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Dates for various events relating to the producing entity.
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PRODUCTION_START" type="ihse_date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Date of first production from the producing entity.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PRODUCTION_STOP" type="ihse_date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Date of last production from the producing entity.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="OIL_START" type="ihse_date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Date the producing entity first produced oil.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="GAS_START" type="ihse_date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Date the producing entity first produced gas.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="WATER_START" type="ihse_date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Date the producing entity first produced water.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="INJECTION_START" type="ihse_date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Date the injection process began on the producing
												entity.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="INJECTION_STOP" type="ihse_date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Date the injection process was stopped on the producing
												entity.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="LAST_UPDATE" type="ihse_date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Date data was last changed/added for entity.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="STATUS_CURRENT" type="ihse_date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Date the current status was reported.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PERIOD" type="ihse_period" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Amount of time between the first and last production
												dates.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="BOE_REGION" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>IHS Energy's U.S. data regions for Well and Production data.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ENHANCED_RECOVERY" type="ihse_name_code" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The method used for enhanced recovery of petroleumsubstances.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LATEST_GATHERERS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The last purchaser/transporter of the production fluids derived from
									this producing entity.
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="LIQUID" type="ihse_name_code" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Last liquid purchaser/transporter.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="GAS" type="ihse_name_code" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Last gas purchaser/transporter.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="DEPTHS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Various significant depths within the wells in producing entity.
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="MAXIMUM_MEASURED" type="ihse_depth" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Measured depth of the deepest well on the producing
												entity.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="MAXIMUM_TRUE_VERTICAL" type="ihse_depth" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>True vertical depth of the deepest well on the producing
												entity.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PERFORATION_UPPERMOST" type="ihse_depth" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Measured depth to the top of the shallowest producing
												interval in the entity.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PERFORATION_LOWERMOST" type="ihse_depth" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Measured depth to the bottom of the deepest producing
												interval in the entity.
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="TEMPERATURE_GRADIENT" type="ihse_decimal" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The rate of temperature change with depth in area of producing
									entity.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FACTOR_N" type="ihse_decimal" minOccurs="0"/>
						<xsd:element name="FAULTED" type="ihse_name_code" minOccurs="0"/>
						<xsd:element name="LEGACY" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="DWIGHTS_STATUS" type="ihse_name_code" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ATTACHMENT" type="ihse_attachment" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="PLAY" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Information about unconventional play.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="NAME" type="xsd:string"/>
									<xsd:element name="TYPE" type="xsd:string"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element ref="ZONES" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
