.old/app/wsdl/v10/Header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Energy Web Services: US - Release 2018 v10 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ihsenergy.com/Enerdeq/Schemas/Header"
           elementFormDefault="qualified">
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Username" type="xs:string"/>
				<xs:element name="Password" type="xs:string"/>
				<xs:element name="Application" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
